<div class="wrapper-plan-option" [ngClass]="{'wrapper-plan-option-mobile' : isMobile()}">
    <ng-content></ng-content>

    <div class="plan-icon">
        <img [src]="'/assets/images/icon-' + plan.name.toLowerCase() + '.svg'" />
    </div>

    <div class="plan-data">
        <div class="plan-text">{{plan.name}}</div>
        <div class="plan-price">${{multiStepFormService.isYearly() ? plan.yearly + "/yr" : plan.monthly + "/mo"}}</div>

        <div class="plan-free">
            @if(multiStepFormService.isYearly()){2 months free}
        </div>

    </div>
</div>