.plan-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 120px;
}

.plan-text {
    font-family: "buntu-medium";
}

.plan-price {
    margin-top: 5px;
    font-size: 12px;
    color: #b0afb5;
}

.plan-free {
    font-size: 12px;
    margin-top: 5px;
}