<form class="form" [formGroup]="multiStepForm" (ngSubmit)="onSubmit()">
    @switch (multiStepFormService.step()) {
    @case (step.PersonalInfo) {
    <personal-info></personal-info>
    }
    @case (step.Plan) {
    <plan></plan>
    }
    @case (step.AddOns) {
    <add-ons></add-ons>
    }
    @case (step.FinishingUp) {
    <finishing-up></finishing-up>
    }
    @case (step.ThankYou) {
    <thank-you></thank-you>
    }
    }
    <div>
        <button type="submit" class="button">Submit</button>
    </div>
</form>