<form class="form" [formGroup]="multiStepForm" (ngSubmit)="onSubmit()">
    @switch (multiStepFormService.step()) {
    @case (step.PersonalInfo) {
    <personal-info formGroupName="personalInfo"></personal-info>
    }
    @case (step.Plan) {
    <plan formGroupName="plan"></plan>
    }
    @case (step.AddOns) {
    <add-ons formGroupName="addOns"></add-ons>
    }
    @case (step.FinishingUp) {
    <finishing-up></finishing-up>
    }
    @case (step.ThankYou) {
    <thank-you></thank-you>
    }
    }

</form>