<section [ngClass]="{'wrapper-app-mobile' : isMobile()}" class=" wrapper-app">

  @if(isMobile()){
  <wrapper-steps position="top"></wrapper-steps>
  }

  <div [ngClass]="{'inner-app-mobile' : isMobile()}" class="inner-app">
    @if(!isMobile()){
    <wrapper-steps position="left"></wrapper-steps>
    }

    <div class="section-step" [ngClass]="{'section-step-desktop' : !isMobile()}">
      @switch (multiStepFormService.step()) {
      @case (step.PersonalInfo) {
      <personal-info></personal-info>
      }
      @case (step.Plan) {
      <plan></plan>
      }
      @case (step.AddOns) {
      <add-ons></add-ons>
      }
      @case (step.FinishingUp) {
      <finishing-up></finishing-up>
      }
      @case (step.ThankYou) {
      <thank-you></thank-you>
      }
      }
    </div>
  </div>

</section>