.wrapper-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper-app-mobile {
  flex-direction: column;
  justify-content: flex-start;
}

.inner-app {
  background-color: #fff;
  max-width: 940px;
  width: 100%;
  height: 568px;
  box-shadow: 4px 4px 20px -10px rgba(207, 207, 207, 0.75);
  -webkit-box-shadow: 4px 4px 20px -10px rgba(207, 207, 207, 0.75);
  -moz-box-shadow: 4px 4px 20px -10px rgba(207, 207, 207, 0.75);
  border-radius: 10px;
  margin: 0 20px;
  padding: 20px;
}

.inner-app-mobile {
  width: 80%;
  height: auto;
  margin: -80px 10% 0 10%;
  min-height: 100px;
}