.wrapper-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.wrapper-buttons-mobile {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 90%;
    left: 0;
    padding: 5%;
}